<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/hnashop</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="entity/Orderdetail.hbm.xml"/>
    <mapping resource="entity/Product.hbm.xml"/>
    <mapping resource="entity/Productpropertydetail.hbm.xml"/>
    <mapping resource="entity/Brand.hbm.xml"/>
    <mapping resource="entity/Category.hbm.xml"/>
    <mapping resource="entity/User.hbm.xml"/>
    <mapping resource="entity/Rate.hbm.xml"/>
    <mapping resource="entity/Categoryproperty.hbm.xml"/>
    <mapping resource="entity/Image.hbm.xml"/>
    <mapping resource="entity/Shop.hbm.xml"/>
    <mapping resource="entity/Order.hbm.xml"/>
    <mapping resource="entity/Property.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
